<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!local">
        <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp_app</fieldName>
                        <timeZone>UTC</timeZone>
                        <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                    </timestamp>

                    <version>
                        <fieldName>version</fieldName>
                    </version>

                    <message>
                        <fieldName>message</fieldName>
                    </message>

                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>

                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>

                    <logLevel>
                        <fieldName>log_level</fieldName>
                    </logLevel>

                    <stackTrace>
                        <fieldName>stackTrace</fieldName>
                    </stackTrace>

                    <context/>
                    <mdc/>

                    <!-- provides the fields in the configured pattern -->
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <!-- the pattern that defines what to include -->
                        <pattern>
                            {
                            "log_type": "APPLICATION",
                            "logService": "open_search"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="jsonConsole"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>
</configuration>
